In [31]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from plotly import express as px
from plotly import offline as pyo

In [32]:
df = pd.read_csv("gdp.csv")

In [33]:
df["GDP Growth Rate"] = round(df.groupby("Country Name")["Value"].pct_change() * 100, 2)
df["GDP Growth Rate"] = df["GDP Growth Rate"].replace(np.NaN, 0)
df

      Country Name Country Code  Year         Value  GDP Growth Rate
0       Arab World          ARB  1968  2.576068e+10             0.00
1       Arab World          ARB  1969  2.843420e+10            10.38
2       Arab World          ARB  1970  3.138550e+10            10.38
3       Arab World          ARB  1971  3.642691e+10            16.06
4       Arab World          ARB  1972  4.331606e+10            18.91
...            ...          ...   ...           ...              ...
11502     Zimbabwe          ZWE  2012  1.424249e+10            17.72
11503     Zimbabwe          ZWE  2013  1.545177e+10             8.49
11504     Zimbabwe          ZWE  2014  1.589105e+10             2.84
11505     Zimbabwe          ZWE  2015  1.630467e+10             2.60
11506     Zimbabwe          ZWE  2016  1.661996e+10             1.93

[11507 rows x 5 columns]

In [34]:
lst = ["IND", "ITA", "USA", "CHN", "ARB"]

dfs = []
for country_code in lst:
    df_cc = df[df["Country Code"] == country_code]
    dfs.append(df_cc)
    
    df_pr = pd.concat(dfs, axis = 0)

In [35]:
fig = px.line(df_pr, x = "Year", y = "Value", color = "Country Name", title = "GDP Comparison - " + "|".join(lst))
pyo.plot(fig, filename = "GDP Comparison - IND|CHN.html", auto_open = False)

'GDP Comparison - IND|CHN.html'

## GDP Growth Comparison between Specific Countries

In [36]:
def compareGDP(lst, isOpen):
    dfs = []
    for country_code in lst:
        df_cc = df[df["Country Code"] == country_code]
        dfs.append(df_cc)

        df_pr = pd.concat(dfs, axis = 0)
    fig = px.line(df_pr, x = "Year", y = "Value", color = "Country Name", title = "GDP Comparison - " + "|".join(lst))
    pyo.plot(fig, filename = f'GDP Comparison - {"|".join(lst)}.html', auto_open = isOpen)

In [37]:
compareGDP(["PAK", "AFG", "IRN", "IND", "SAU", "ARE", "EGY"], False)