In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from plotly import express as px
from plotly import offline as pyo

In [3]:
df = pd.read_csv("gdp.csv")

In [4]:
df["GDP Growth Rate"] = round(df.groupby("Country Name")["Value"].pct_change() * 100, 2)
df["GDP Growth Rate"] = df["GDP Growth Rate"].replace(np.NaN, 0)
df

      Country Name Country Code  Year         Value  GDP Growth Rate
0       Arab World          ARB  1968  2.576068e+10             0.00
1       Arab World          ARB  1969  2.843420e+10            10.38
2       Arab World          ARB  1970  3.138550e+10            10.38
3       Arab World          ARB  1971  3.642691e+10            16.06
4       Arab World          ARB  1972  4.331606e+10            18.91
...            ...          ...   ...           ...              ...
11502     Zimbabwe          ZWE  2012  1.424249e+10            17.72
11503     Zimbabwe          ZWE  2013  1.545177e+10             8.49
11504     Zimbabwe          ZWE  2014  1.589105e+10             2.84
11505     Zimbabwe          ZWE  2015  1.630467e+10             2.60
11506     Zimbabwe          ZWE  2016  1.661996e+10             1.93

[11507 rows x 5 columns]

## GDP Analysis of all entities

In [8]:
for country_name in df["Country Name"].unique():
    fig = px.line(df[df["Country Name"] == country_name], x = "Year", y = "Value", title = f"GDP Analysis of {country_name} by Year")
    pyo.plot(fig, filename = f"GDP Analysis of all Entities/GDP Analysis of {country_name} by Year.html", auto_open = False)

## GDP Analysis of all entities WRT 80T

In [10]:
for country_name in df["Country Name"].unique():
    fig = px.line(df[df["Country Name"] == country_name], x = "Year", y = "Value", range_y = [0, 80000000000000], title = f"GDP Analysis of {country_name} by Year WRT 80T")
    pyo.plot(fig, filename = f"GDP Analysis of all Entities WRT 80T/GDP Analysis of {country_name} by Year WRT 80T.html", auto_open = False)